@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$background: LightSteelBlue;
$text: 'Fira Sans';

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  background: Azure url('../assets/background.jpg') no-repeat top;
  background-attachment: fixed;
  background-size: 100%;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  background: rgba($color: #010, $alpha: .8);
  color: WhiteSmoke;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 3px;
}

h2,h3,h4,p {
  margin: 0;
}
