$background: LightSteelBlue;

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background: Silver;
  color: White;
  padding: 1rem;
  margin: 1rem;
}
